{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "autojump"
brew "awscli"
brew "chezmoi"
brew "cloc"
brew "datawire/blackbird/telepresence"
brew "fzf"
brew "git"
brew "go"
brew "golangci-lint"
brew "goreleaser"
brew "helm"
brew "htop"
brew "httpie"
brew "java"
brew "jq"
brew "jsonnet"
brew "jsonnet-bundler"
brew "k3d"
brew "k9s"
brew "kind"
brew "kubernetes-cli"
brew "kustomize"
brew "make"
brew "neovim"
brew "ripgrep"
brew "skaffold"
brew "sops"
brew "tanka"
brew "terraform"
brew "tmux"
brew "v2ray"
brew "vim"
brew "watch"
brew "wget"
brew "yq"
brew "ytt"
brew "zsh-syntax-highlighting"
EOF
{{ end -}}
